<div class="row">
  <div class="col-md-4 col-md-offset-4 welcome">
    <h1>Welcome to the <img src="http://cdn.bulbagarden.net/upload/thumb/1/1b/Pokedex_logo.png/250px-Pokedex_logo.png"></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-2 dex">
    <h2>Pok&eacute;mon Discovered</h2>

    <% @creature.each do |c| %>
      <li class="creatures"><%= link_to c.name, c %>
    <% end %>
  </div>

  <div class="col-md-4 col-md-offset-0 dex">
    <h2>Pok&eacute;mon Types</h2>

    <% @tag.each do |t| %>
      <li class="creatures"><%= link_to t.name, t %>
    <% end %>
  </div>
</div>