<h1>Add a Creature</h1>


<%= bootstrap_form_for @creature do |f| %>
<%= f.text_field :name, :placeholder => "Enter a creature" %>
<%= f.text_area :description, :placeholder => "Describe the creature" %>
<%= f.primary %>
<% end %>