<div class="row">
  <div class="col-md-4 col-md-offset-4 show">
    <h1><%= @tag.name %> Pok&eacute;mon</h1>
    <% @tag.creatures.each do |t| %>
      <li class="creatures"><%= link_to t.name, t %></li>
    <% end %>

    <p><%= link_to 'Edit Type', edit_tag_path(@tag), :class => "btn btn-info" %>  <%= link_to 'Delete Type', tag_path, :class => "btn btn-danger", method: :delete, data: { confirm: "WARNING: This Type is referenced to #{@tag.creatures.count} Pok\u00e9mon. Click OK to continue." } %></p>
  </div>
</div>